
### NetBeans ###
nbproject/

### PhpStorm ###
.idea/
.phpstorm.meta.php

### Vagrant ###
.vagrant/

### Laravel ###
/bootstrap/compiled.php
.env.*.php
.env.php
.env

### Composer ###
composer.phar
vendor/

### Sass ###
.sass-cache/

### PHPMyAdmin ###
public/phpmyadmin/

### Project ###
update.sh
