# Modified from https://www.gitignore.io/api/netbeans,vagrant,laravel,composer

### NetBeans ###
nbproject/

### PhpStorm ###
.idea/

### Vagrant ###
.vagrant/

### Laravel ###
/bootstrap/compiled.php
.env.*.php
.env.php
.env

### Composer ###
composer.phar
vendor/
