
/* FORUM LISTING */
#forumlisting {
    padding: 10px;
}

.forumlisting-forum { margin-bottom: 10px; }
.forumlisting-forum div,img { display: inline-block; }

.forumlisting-forum .forumlisting-forum-hasread {
    margin-right: 5px;
}

.forumlisting-forum .forumlisting-forum-name a {
    color: #216aa4;
    font-family: "lato", "arial", sans-serif;
    font-weight: lighter;
    font-size: 20px;

    transition: color 0.20s;
}
.forumlisting-forum .forumlisting-forum-name a:hover {
    color: #001878;
}
.forumlisting-forum .forumlisting-forum-name { margin-bottom: 4px; }

.forumlisting-forum .forumlisting-forum-desc {
    color: #5d5d5d;
    font-family: "open sans", sans-serif;
    font-size: 14px;
}


.forumlisting-category {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 9px 14px;

    border-radius: 4px 4px 0 0;

    font-family: "lato", "arial", sans-serif;
    font-size: 22px;
    font-weight: bold;

    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    background-color: #376491;
}
