/*
 * Main CSS file.
 * Included on every page.
 */
/* Remove page padding */
html, body {
  margin: 0;
  padding: 0; }

/* Utilities */
.clear {
  clear: both; }

.vertical-align {
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

#cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.4); }

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  margin: 0;
  font-family: "Lato", "helvectia", "arial", sans-serif; }

input[type=text], input[type=password] {
  padding: 4px 6px;
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  border: solid 1px #DDDDDD;
  outline: 0; }

input[type=text]:focus, input[type=password]:focus {
  border-color: #0044DD; }

table {
  border-collapse: collapse; }

.vertically-aligned * {
  vertical-align: middle; }

.emoji {
  width: 1em;
  height: 1em;
  border: none; }

.la-ball-scale-pulse > div {
  color: #141414; }

/* Tabbed Panels */
.nav li {
  cursor: pointer; }

.tabbedpanel-panel {
  display: none; }

/* Body formatting */
body {
  background-color: #202126;
  font-family: "open sans", "helvetica", "arial", sans-serif; }

/* Dialog box */
.promptbox {
  display: none;
  position: fixed;
  width: 480px;
  left: calc(50% - 230px);
  margin-top: 60px;
  padding: 0 0 10px 0;
  z-index: 51;
  background-color: white;
  border: solid 2px #808080;
  border-radius: 5px; }
  .promptbox .promptbox-header {
    width: 480px;
    padding: 7px 12px;
    box-sizing: border-box;
    background-color: #5e43ce;
    color: white;
    font-family: "lato", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8); }
  .promptbox p {
    font-family: "open sans", sans-serif;
    box-sizing: border-box;
    padding: 0 16px; }
  .promptbox .promptbox-buttons {
    text-align: right;
    padding-right: 10px; }
    .promptbox .promptbox-buttons .button {
      margin-left: 6px; }

/* Buttons */
.button {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 28px;
  font-weight: 500;
  font-family: "open sans", "arial", sans-serif;
  border: none;
  border-radius: 4px;
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  cursor: pointer; }

.button:active {
  box-shadow: none;
  transform: translate(0px, 4px);
  -webkit-transform: translate(0px, 4px); }

.button {
  background-color: #55acee;
  box-shadow: 0 4px 0 0 #3C93D5; }

.button:hover {
  background-color: #6FC6FF; }

.button-green {
  background-color: #2ECD71;
  box-shadow: 0 4px 0 0 #15B358; }

.button-green:hover {
  background-color: #48E68B; }

.button-red {
  background-color: #e74c3c;
  box-shadow: 0 4px 0 0 #CE3323; }

.button-red:hover {
  background-color: #FF6656; }

.button-gray {
  background-color: #5c5c5c;
  box-shadow: 0 4px 0 0 #767676; }

.button-gray:hover {
  background-color: #686868; }

.button-disabled:active {
  background-color: #1c1c1c; }

/* Header */
#header {
  width: 100%;
  height: 90px;
  background-color: #2d58a3; }
  #header .container, #header .container-fluid {
    padding: 0; }
  #header .header-right {
    display: flex;
    float: right;
    width: 330px;
    height: 90px;
    box-sizing: border-box;
    text-align: right; }
    #header .header-right .header-right-inner {
      align-self: center; }

/* Userbox */
#header {
  /* Userbox for logged in users */
  /* Userbox for logged out users (actually just where the login form goes) */ }
  #header #userbox {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 320px;
    height: 70px;
    margin: 10px;
    text-align: left;
    background-color: #3672cb; }
    #header #userbox a {
      color: inherit;
      text-decoration: inherit; }
  #header #userbox-dropdown {
    display: none;
    /* hidden by default */
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding-bottom: 6px;
    width: 320px;
    z-index: 45;
    background-color: #919191; }
  #header .userbox-notloggedin #userbox-dropdown {
    background-color: #707070; }
  #header .userbox-dropdown-item {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 14px;
    margin-top: 6px;
    background-color: #646464;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    font-family: "open sans", "arial", sans-serif;
    font-weight: bold;
    transition: background-color 0.25s; }
  #header .userbox-dropdown-item:hover {
    background-color: #2a2a2a; }
  #header .userbox-dropdown-item-warning:hover {
    background-color: #f03800; }
  #header .userbox-loggedin #userbox-useravatar {
    display: inline-block;
    border: none;
    height: 100%;
    vertical-align: middle; }
  #header .userbox-loggedin #userbox-name {
    display: inline-block;
    margin: 3px 7px 0 5px;
    vertical-align: middle;
    font-size: 22px;
    font-family: "open sans", "arial", sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75); }
  #header .userbox-notloggedin {
    text-align: center !important;
    /* Logim form */ }
    #header .userbox-notloggedin .userbox-or {
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px;
      color: white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      font-family: "lato", "open sans", "arial", sans-serif;
      font-weight: lighter;
      font-size: 24px; }
    #header .userbox-notloggedin #loginform {
      width: 100%;
      padding: 15px 0;
      text-align: center; }
      #header .userbox-notloggedin #loginform .input-field {
        width: 250px;
        margin-bottom: 8px; }
      #header .userbox-notloggedin #loginform #login-button {
        margin-top: 4px; }
    #header .userbox-notloggedin #login-loading {
      padding: 14px; }
      #header .userbox-notloggedin #login-loading .la-ball-scale-pulse {
        margin: 0 auto; }
      #header .userbox-notloggedin #login-loading .la-ball-scale-pulse > div {
        color: white; }

/* Main content wrapper */
#wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: white;
  border: solid 1px #48484e;
  border-top: none; }

footer {
  margin-top: 5px;
  text-align: center;
  font-family: "open sans", "arial", sans-serif;
  font-size: 14px;
  color: #e1e1e1;
  text-shadow: 0 0 3px black; }
  footer a {
    color: inherit;
    text-decoration: none; }
  footer a:hover {
    text-decoration: underline; }
  footer #debuginfo {
    font-size: 11px; }
    footer #debuginfo span {
      display: inline-block;
      margin: 0 5px; }

/* Content Listings */
.listing {
  padding: 10px; }
  .listing .listing-category {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 9px 14px;
    border-radius: 4px 4px 0 0;
    font-family: "lato", "arial", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    background-color: #376491; }
  .listing .listing-entry {
    margin-bottom: 10px; }
    .listing .listing-entry div, .listing .listing-entry img {
      display: inline-block; }
    .listing .listing-entry .listing-entry-icon {
      margin-right: 5px;
      vertical-align: top; }
    .listing .listing-entry .listing-entry-name {
      margin-bottom: 0px; }
      .listing .listing-entry .listing-entry-name a {
        color: #216aa4;
        font-family: "lato", "arial", sans-serif;
        font-size: 20px;
        transition: color 0.20s; }
      .listing .listing-entry .listing-entry-name a:hover {
        color: #001878; }
    .listing .listing-entry .listing-entry-desc {
      color: #5d5d5d;
      font-family: "open sans", sans-serif;
      font-size: 14px; }
    .listing .listing-entry .listing-entry-right {
      float: right;
      margin: 4px 8px; }
  .listing .pagination {
    display: block;
    width: 100%;
    text-align: center; }
    .listing .pagination .pagination-button, .listing .pagination li a, .listing .pagination li.active, .listing .pagination li.disabled {
      padding: 4px 8px;
      border: solid 1px #b5b5b5;
      background-color: #eeeeee;
      border-radius: 3px;
      font-family: "lato", sans-serif;
      font-size: 17px;
      color: #222222;
      text-decoration: none; }
    .listing .pagination li {
      list-style-type: none;
      display: inline-block;
      margin-right: 5px; }
    .listing .pagination li.active {
      background-color: #d4d4d4 !important; }

/*# sourceMappingURL=main.css.map */
