/*
 * Thread CSS File
 */
.thread-header .thread-locked {
  margin-right: 4px; }

.thread-wrapper {
  padding: 8px;
  background-color: #efefef; }
  .thread-wrapper .postreply-other-page-info {
    color: #7b7b7b;
    font-style: italic; }

/* Post */
.post {
  display: table;
  width: calc(100% - 20px);
  margin: 10px;
  background-color: white; }
  .post .post-left {
    display: table-cell;
    width: 200px;
    box-sizing: border-box;
    padding: 14px 4px;
    text-align: center;
    background-color: #e1e1e1; }
    .post .post-left .post-avatar {
      width: 125px; }
    .post .post-left .post-username {
      font-family: "lato", "open sans", sans-serif;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 6px;
      width: 100%;
      word-break: break-all; }
  .post .post-right {
    display: table-cell;
    width: calc(100% - 200px);
    text-wrap: normal;
    vertical-align: top; }
    .post .post-right .post-timestamp {
      float: right;
      margin: 5px 5px 10px 10px;
      color: #a7a7a7;
      font-style: italic;
      font-size: 13px; }
    .post .post-right .post-content {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      /*
        Since breaking words and breaking stupidly long words doesn't work at the same time without a fixed width being
        set, we default to breaking anywhere (including the middle of words), until JavaScript can calculate the width
        and apply it, then JavaScript will remove this style.
      */
      word-break: break-all;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      font-family: "source sans pro", "arial", sans-serif;
      font-size: 18px;
      font-weight: 300;
      /* Prevent images expanding outside of post */ }
      .post .post-right .post-content h1, .post .post-right .post-content h2, .post .post-right .post-content h3, .post .post-right .post-content h4, .post .post-right .post-content h5, .post .post-right .post-content h6 {
        display: block; }
      .post .post-right .post-content p {
        margin: 0 0 18px 0; }
      .post .post-right .post-content img {
        max-width: 100%; }

/* Post Reply */
#postreply {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  background-color: white; }
  #postreply #postreply-header {
    vertical-align: middle;
    margin-bottom: 5px; }
  #postreply #postreply-icon {
    height: 29px;
    vertical-align: middle; }
  #postreply .CodeMirror, #postreply .CodeMirror-scroll {
    min-height: 175px !important; }
  #postreply .CodeMirror .editor-preview h1, #postreply .CodeMirror .editor-preview h2, #postreply .CodeMirror .editor-preview h3, #postreply .CodeMirror .editor-preview h4, #postreply .CodeMirror .editor-preview h5, #postreply .CodeMirror .editor-preview h6 {
    display: block; }
  #postreply #postreply-submit {
    float: right; }

/*# sourceMappingURL=thread.css.map */
