
.board-message {
    padding: 14px;
    margin-bottom: 13px;
    border-radius: 3px;

    border: 1px solid #bce8f1;
    color: #31708f;
    background-color: #d9edf7;

    font-family: "verdana", "arial", sans-serif;
}
