/*
 * Forum CSS file.
 */

.newthread-button {
  float: right;
  font-size: 14px;
  padding: 4px 16px;
}

.thread-lastpost {
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  height: 40px;
  margin-top: 4px;

  background-color: #f2f2f2;

  img { height: 40px; vertical-align: middle; }

  .thread-lastpost-info {
    display: inline-block;
    vertical-align: middle;
    line-height: 80%;
  }
  .thraed-lastpost-name {
    font-weight: bold;
    color: #272727;
    font-size: 16px;
  }
  .thread-lastpost-when {
    font-weight: lighter;
    color: #616161;
    font-size: 9px;
  }
}

.thread-stat {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 20px;

  color: #3B3B3B;

  font-family: "open sans", sans-serif;
  font-size: 12px;
  font-weight: lighter;

  span { font-size: 20px; }
}

.no-threads {
  font-family: "lato", sans-serif;
  font-size: 21px;
  font-weight: lighter;

  margin-top: 15px;
  text-align: center;
}

