/*
 * Main CSS file.
 * Included on every page.
 */


/* Remove page padding */
html,body { margin: 0; padding: 0; }

/* Page variables */
$content-width: 81%;

/* Utilities */
.clear { clear: both; }

.vertical-align {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#cover {
  display: none;
  position: fixed;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 50;

  background-color: rgba(0, 0, 0, 0.4);
}

.content-width { width: $content-width; margin: 0 auto; }

h1,h2,h3,h4,h5,h6 {
  display: inline-block;
  margin: 0;

  font-family: "Lato", "helvectia", "arial", sans-serif;
}

input[type=text], input[type=password] {
  padding: 4px 6px;

  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  border: solid 1px #DDDDDD;
  outline: 0;
}
input[type=text]:focus, input[type=password]:focus { border-color: #0044DD; }

table { border-collapse: collapse; }

.vertically-aligned * { vertical-align: middle; }

.la-ball-scale-pulse > div {
  color: #141414;
}

/* Body formatting */
body {
  background-color: #202126;

  font-family: "open sans", "helvetica", "arial", sans-serif;
}

/* Dialog box */
.promptbox {
  display: none;

  position: fixed;
  width: 480px;

  left: calc(50% - 230px);
  margin-top: 60px;
  padding: 0 0 10px 0;

  z-index: 51;

  background-color: white;
  border: solid 2px #808080;
  border-radius: 5px;

  .promptbox-header {
    width: 480px;
    padding: 7px 12px;
    box-sizing: border-box;

    background-color: #5e43ce;
    color: white;

    font-family: "lato", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  }

  p {
    font-family: "open sans", sans-serif;
    box-sizing: border-box;
    padding: 0 16px;
  }

  .promptbox-buttons {
    text-align: right;
    padding-right: 10px;

    .button {
      margin-left: 6px;
    }
  }
}

/* Buttons */
.button {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 28px;

  font-weight: 500;
  font-family: "open sans", "arial", sans-serif;

  border: none;
  border-radius: 4px;

  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

  transition: background-color 0.2s;

  cursor: pointer;
}
.button:active {
  box-shadow: none;
  transform: translate(0px, 4px);
  -webkit-transform: translate(0px, 4px);
}

.button { background-color: #55acee; box-shadow: 0 4px 0 0 #3C93D5; }
.button:hover { background-color: #6FC6FF; }

.button-green { background-color: #2ECD71; box-shadow: 0 4px 0 0 #15B358; }
.button-green:hover { background-color: #48E68B; }

.button-red { background-color: #e74c3c; box-shadow: 0 4px 0 0 #CE3323; }
.button-red:hover { background-color: #FF6656; }

.button-gray { background-color: #5c5c5c; box-shadow: 0 4px 0 0 #767676; }
.button-gray:hover { background-color: #686868; }

.button-disabled:active { background-color: #1c1c1c; }

/* Header */
#header {
  width: 100%;
  height: 90px;

  background-color: #2d58a3;

  .header-right {
    display: flex;
    float: right;
    width: 330px;
    height: 90px;
    box-sizing: border-box;

    text-align: right;

    .header-right-inner {
      align-self: center;
    }
  }
}

/* Userbox */
#header {
  #userbox {
    position: relative;
    display: inline-block;

    box-sizing: border-box;
    width: 320px;
    height: 70px;
    margin: 10px;

    text-align: left;

    background-color: #3672cb;

    a { color: inherit; text-decoration: inherit; }
  }

  #userbox-dropdown {
    display: none; /* hidden by default */
    overflow: hidden;

    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding-bottom: 6px;
    width: 320px;
    z-index: 45;

    background-color: #919191;
  }
  .userbox-notloggedin #userbox-dropdown {
    background-color: #707070;
  }

  .userbox-dropdown-item {
    display: inline-block;
    box-sizing: border-box;

    width: 100%;
    padding: 8px 14px;
    margin-top: 6px;

    background-color: #646464;
    cursor: pointer;

    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    font-family: "open sans", "arial", sans-serif;
    font-weight: bold;

    transition: background-color 0.25s;
  }
  .userbox-dropdown-item:hover { background-color: #2a2a2a; }
  .userbox-dropdown-item-warning:hover { background-color: #f03800; }

  /* Userbox for logged in users */
  .userbox-loggedin {
    #userbox-useravatar {
      display: inline-block;
      border: none;
      height: 100%;
      vertical-align: middle;
    }

    #userbox-name {
      display: inline-block;
      margin: 3px 7px 0 5px;
      vertical-align: middle;

      font-size: 22px;
      font-family: "open sans", "arial", sans-serif;
      font-weight: bold;

      color: white;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    }
  }

  /* Userbox for logged out users (actually just where the login form goes) */
  .userbox-notloggedin {
    text-align: center !important;

    .userbox-or {
      display: inline-block;
      vertical-align: middle;

      margin: 0 4px;

      color: white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      font-family: "lato", "open sans", "arial", sans-serif;
      font-weight: lighter;
      font-size: 24px;
    }

    /* Logim form */
    #loginform {
      width: 100%;
      padding: 15px 0;
      text-align: center;

      .input-field {
        width: 250px;
        margin-bottom: 8px;
      }

      #login-button { margin-top: 4px; }
    }

    #login-loading {
      padding: 14px;

      .la-ball-scale-pulse { margin: 0 auto; }
      .la-ball-scale-pulse > div { color: white; }
    }
  }
}


/* Main content wrapper */
#wrapper {
  width: $content-width;
  margin: 0 auto;

  box-sizing: border-box;
  padding: 14px;

  background-color: white;

  border: solid 1px #48484e;
  border-top: none;
}

footer {
  width: $content-width;
  margin: 0 auto;

  margin-top: 5px;
  text-align: center;

  font-family: "open sans", "arial", sans-serif;
  font-size: 14px;

  color: #e1e1e1;
  text-shadow: 0 0 3px black;

  a { color: inherit; text-decoration: none; }
  a:hover { text-decoration: underline; }
}

/* Content Listings */
.listing {
  padding: 10px;

  .listing-category {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 9px 14px;

    border-radius: 4px 4px 0 0;

    font-family: "lato", "arial", sans-serif;
    font-size: 22px;
    font-weight: bold;

    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    background-color: #376491;
  }

  .listing-entry {
    margin-bottom: 10px;

    div,img { display: inline-block; }

    .listing-entry-icon {
      margin-right: 5px;
    }

    .listing-entry-name {
      margin-bottom: 4px;

      a {
        color: #216aa4;
        font-family: "lato", "arial", sans-serif;
        font-size: 20px;

        transition: color 0.20s;
      }
      a:hover { color: #001878; }
    }

    .listing-entry-desc {
      color: #5d5d5d;
      font-family: "open sans", sans-serif;
      font-size: 14px;
    }

    .listing-entry-right {
      float: right;
      margin: 4px 8px;
    }
  }
}

