/*
 * Profile CSS File
 */

#profile-header {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  background-color: #f6f6f6;

  #profile-image { vertical-align: top; }

  #profile-header-inner {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;

    #profile-username {
      display: inline-block;
      margin: 15px 10px 5px 0;

      font-family: "lato", sans-serif;
      font-weight: bold;
      font-size: 34px;
    }

    #profile-group {
      font-size: 19px !important; /* override any custom styling */
      font-weight: bold;
    }

    #profile-info {
      color: #545454;
      margin-top: 8px;

      .profile-info {
        display: inline-block;
        margin-right: 10px;

        i { margin-right: 3px; }
      }
    }
  }

  #profile-buttons {
    float: right;
    margin: 5px;
  }
}
