/*
 * Settings CSS File
 */

.tab-content {
  h2 {
    margin: 8px 5px 10px 5px;

    font-family: "lato", sans-serif;
    font-size: 21px;
    font-weight: lighter;

    border-bottom: solid 1px #cccccc;
  }


  /* Security Login Panel */
  .security-login {
    text-align: center;

    img { height: 64px; }

    .security-login-message {
      font-weight: bold;
      color: #b90000;
      margin: 2px 0 8px 0;
    }

    #security-login-password {
      width: 300px;
    }

    #security-login-submit {
      font-size: 13px;
      margin-top: 8px;
    }
  }

}
